torch==2.1.2+cu121
-f https://download.pytorch.org/whl/torch_stable.html
modelscope==1.11.0
openai==1.17.1
tqdm==4.64.1
transformers==4.39.3
vllm==0.4.0.post1
asposestorage
faiss_cpu
langchain
langsmith
langchain-core
langchain-community
langchainhub
matplotlib
numpy
openai
pandas
pydantic
recommenders
Requests
scikit_learn
termcolor
tqdm
transformers
wandb
openpyxl
accelerate
tiktoken
peft